<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div th:fragment="footer">
        <footer class="app-footer">
            <div class="container-fluid">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-12 text-center"></div>
                        <span>&copy; 2023 Mon Application. Tous droits réservés.</span>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>