<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div th:fragment="sidebar">
        <div id="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">
                            <span class="nav-icon"><i class="fas fa-tachometer-alt"></i></span>
                            <span class="nav-text">Tableau de bord</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#employeMenu">
                            <span class="nav-icon"><i class="fas fa-user-tie"></i></span>
                            <span class="nav-text">Employés</span>
                            <span class="ms-auto"><i class="fas fa-chevron-up"></i></span>
                        </a>
                        <div id="employeMenu" class="submenu collapse">
                            <a class="nav-link" href="/employes">Liste des employés</a>
                            <a class="nav-link" href="/salaries">Liste des fiches de paie</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/import" >
                            <span class="nav-icon"><i class="fas fa-file-csv"></i></span>
                            <span class="nav-text">Import Csv</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</body>
</html>